mixin footer()
    div.footer-links.pure-g-r
        div.footer-link.pure-u-1-8
            a.ah-icon-link(alt="home", href='/')
                h4 &nbsp;
                img(src="/svg/home.svg")
                h4 HOME
        div.footer-link.pure-u-1-8
            a.ah-icon-link(alt="archive", href='/timeline/')
                h4 &nbsp;
                img(src="/svg/timeline.svg")
                h4 TIMELINE
        div.footer-link.pure-u-1-8
            a.ah-icon-link(alt="about", href='/about/')
                h4 &nbsp;
                img(src="/svg/about.svg")
                h4 ABOUT
        div.footer-link.pure-u-1-8
            a.ah-icon-link(alt="contact", href='/contact/')
                h4 &nbsp;
                img(src="/svg/contact.svg")
                h4 CONTACT
        div.footer-link.pure-u-1-8
            a.ah-icon-link(href='https://plus.google.com/u/0/100973827662797756774')
                h4 &nbsp;
                img(src="/svg/google-plus.svg")
                h4 Google+
        div.footer-link.pure-u-1-8
            a.ah-icon-link(href='http://www.twitter.com/alex2006hw')
                h4 &nbsp;
                img(src="/svg/twitter.svg")
                h4 Twitter
        div.footer-link.pure-u-1-8
            a.ah-icon-link(href='http://www.facebook.com/alex2006hw')
                h4 &nbsp;
                img(src="/svg/facebook.svg")
                h4 Facebook
        div.footer-link.pure-u-1-8
            a.ah-icon-link(href='https://www.linkedin.com/in/alexdavis/')
                h4 &nbsp;
                img(src="/svg/linkedin.svg")
                h4 Linkedin
